sudo: false
language: python
python:
- '3.7'
install:
- pip install pygments lxml setuptools --upgrade
- git clone https://github.com/tabatkins/bikeshed.git
- pip install --editable $PWD/bikeshed
- bikeshed update
script:
- bash "./deploy.sh"
env:
  global:
  - ENCRYPTION_LABEL: "781c04ca6946"
  - COMMIT_AUTHOR_EMAIL: "plh+deploy@w3.org"
  - DECISION: "https://lists.w3.org/Archives/Public/public-webapps/2014JulSep/0627.html"
